/* Fonts */
@font-face {
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 400;
	src: local('Poppins'),
	url('../fonts/poppins-v15-latin-regular.woff2') format('woff2'),
	url('../fonts/poppins-v15-latin-regular.woff') format('woff');
}

@font-face {
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 500;
	src: local('Poppins'),
	url('../fonts/poppins-v15-latin-500.woff2') format('woff2'), 
	url('../fonts/poppins-v15-latin-500.woff') format('woff'); 
}

@font-face {
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 600;
	src: local('Poppins'),
	url('../fonts/poppins-v15-latin-600.woff2') format('woff2'),
	url('../fonts/poppins-v15-latin-600.woff') format('woff'); 
}

@font-face {
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 700;
	src: local('Poppins'),
	url('../fonts/poppins-v15-latin-700.woff2') format('woff2'), 
	url('../fonts/poppins-v15-latin-700.woff') format('woff'); 
}

@font-face {
	font-family: 'Raleway';
	font-style: normal;
	font-weight: 400;
	src: local('Raleway'),
	url('../fonts/raleway-v22-latin-regular.woff2') format('woff2'), 
	url('../fonts/raleway-v22-latin-regular.woff') format('woff'); 
}

@font-face {
	font-family: 'Raleway';
	font-style: normal;
	font-weight: 700;
	src: local('Raleway'),
	url('../fonts/raleway-v22-latin-700.woff2') format('woff2'), 
	url('../fonts/raleway-v22-latin-700.woff') format('woff'); 
}

/* Variables */
html {
	--prime-blue: #40BFFF;
	--prime-red: #FB7181;
	--prime-dark: #223263;
	--prime-grey: #9098B1;
	--text-black: #262626;
	--text-black-blue: #22262A;
	--text-light-grey: #C1C8CE;
	--light-blue: #33A0FF;
	--white-blue: #BCDDFE;
	--light-border: #F6F7F8;
	--light-white: #FAFAFB;
}

/* Global */
body {
	min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
	flex-grow: 1;
}

/* Index */
.index {
	background-color: #fff;
	font-family: 'Poppins', sans-serif;
	font-weight: 400;
}

/* Header */
.header {
	width: 100%;
	max-width: 1255px;
	margin: 0 auto;
	box-sizing: border-box;
	padding: 0 1vw;
}

.header__head {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-top: 28px;
	padding-bottom: 14px;
	border-bottom: 2px solid var(--light-white);
}

.header__locals {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}

.locals__select {
	color: var(--text-black-blue);
	font-size: 20px;
	border: 0;
	margin-right: 9px;
	padding-right: 10px;
	background-color: transparent;
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
	background-image: url('../img/arrow-down.svg');
	background-repeat: no-repeat;
	background-position: 100% 50%;
	cursor: pointer;
}

.header__user-ui {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}

.header__user-profile {
	color: var(--text-black);
	text-decoration: none;
	font-size: 18px;
	display: flex;
	align-items: center;
	margin-right: 32px;
}

.header__user-profile::before {
	content: '';
	display: inline-block;
	width: 20px;
	height: 20px;
	margin-right: 7px;
	background-image: url('../img/user-icon.svg');
}

.header__cart {
	position: relative;
	display: block;
	margin-right: 28px;
}

.cart__ico {
	display: block;
}

.cart__number {
	font-family: 'Poppins', sans-serif;
	font-weight: 700;
	font-size: 10px;
	color: #fff;
	text-decoration: none;
	position: absolute;
	top: -10px;
	right: -10px;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 20px;
	height: 20px;
	background-color: var(--prime-red);
	border: 2px solid #fff;
	border-radius: 50%;
}

.header__items {
	font-size: 20px;
	margin-right: 32px;
}

.header__sum {
	color: rgba(38, 38, 38, 0.5);
	font-size: 20px;
	margin-right: 7px;
}

.header__search-form {
	display: flex;
	align-items: center;
}

.header__search-button {
	display: inline-block;
	width: 21px;
	height: 21px;
	background-image: url('../img/search-icon.svg');
	background-color: #fff;
	background-repeat: no-repeat;
	background-size: contain;
	border: none;
	cursor: pointer;
}

.header__search-input {
	width: 100%;
	height: 20px;
	margin-right: 7px;
}

.header__main {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
	row-gap: 2em;
	padding-top: 29px;
	padding-bottom: 21px;
	position: relative;
}

.menu__list {
	display: flex;
	flex-wrap: wrap;
	column-gap: 98px;
	row-gap: 1em;
	list-style: none;
	margin: 0;
	padding: 0;
}

.menu__link {
	font-family: 'Poppins', sans-serif;
	font-weight: 500;
	font-size: 24px;	
	color: var(--text-black);
	text-decoration: none;
}

.menu__link:hover {
	color: var(--prime-blue);
}

.menu__link_active {
	color: var(--prime-blue);
}

/* Menu dropdown */
.menu__dropdown {
	box-sizing: border-box;
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translateY(calc(100% - 7px)) translateX(-50%);
	z-index: 2;
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	max-width: 1029px;
	padding: 37px 33px 59px 84px;
	border-top: 2px solid #F1F3F4;
	background-color: #fff;
}

.menu__dropdown::before {
	content: '';
	display: block;
	position: absolute;
	top: -1px;
	left: 203px;
	transform: translateY(-100%);
	border: 8px solid transparent;
	border-top: none;
	border-bottom: 10px solid #F1F3F4;
}

.submenu__list {
	list-style: none;
	margin: 0;
	margin-right: 59px;
	padding: 0;
}

.submenu__list_2-col {
	columns: 2;
	gap: 45px;
}

@media screen and (max-width: 450px) {
	.submenu__list_2-col {
		columns: initial;
	}
}

.submenu__heading {
	color: var(--text-light-grey);
	font-size: 22px;
	font-weight: 500;
	margin-bottom: 13px;
}

.submenu__link {
	color: var(--text-black);
	font-size: 16px;
	line-height: 2;
	text-decoration: none;
}

.submenu__link:hover {
	text-decoration: underline;
}

/* Intro Offer */
.intro-offer {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	min-height: 654px;
	background-image: url('../img/promo-nike.jpg');
	background-color: var(--prime-grey);
	background-repeat: no-repeat;
	background-position: 50%;
	background-size: auto 100%;
}

.intro-offer__content {
	width: 100%;
	max-width: 1255px;
	margin: 0 auto;
	margin-top: 53px;
	display: flex;
	flex-wrap: wrap;
	padding: 0 1vw;
	box-sizing: border-box;
}

.intro-offer__link {
	font-family: 'Poppins', sans-serif;
	font-size: 64px;
	font-weight: 700;
	line-height: 1.5;
	letter-spacing: 0.5px;
	color: #fff;
	text-decoration: none;
	max-width: 573px;
}

.intro-offer__link:hover {
	text-decoration: underline;
}

/* Index Banners */
.index__banners {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	max-width: 1255px;
	margin: 0 auto;
	margin-top: -94px;
	margin-bottom: 67px;
}

.banner {
	position: relative;
	min-height: 357px;
	border-radius: 5px;
}

.banner__image {
	max-width: 100%;
	object-fit: cover;
}

.banner__info {
	display: block;
	position: absolute;
	top: 0;
	box-sizing: border-box;
	padding: 30px 52px;
	width: 100%;
	height: 100%;
	text-decoration: none;
}

.banner__heading {
	font-family: 'Poppins', sans-serif;
	font-weight: 700;
	font-size: 18px;
	color: var(--prime-dark);
}

.banner__discount {
	font-family: 'Poppins', sans-serif;
	font-weight: 700;
	font-size: 18px;
	color: var(--prime-red);
}

.banner__old-price {
	font-family: 'Poppins', sans-serif;
	font-weight: 400;
	font-size: 20px;
	color: var(--prime-grey);
}

.banner__price {
	font-family: 'Raleway', sans-serif;
	font-weight: 700;
	font-size: 30px;
	color: var(--prime-blue);
}

/* Best */
.best {
	max-width: 1305px;
	margin: 0 auto;
	margin-bottom: 91px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

@media screen and (max-width: 1305px) {
	.best {
		padding: 0 1vw;
		box-sizing: border-box;
	}
}

.best__heading {
	font-size: 35px;
	font-weight: 600;
	margin: 0;
	margin-bottom: 36px;
	text-align: center;
}

.best__menu {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	gap: 7ch;
	list-style: none;
	margin: 0;
	margin-bottom: 23px;
	padding: 0;
}

.best__link {
	color: var(--text-black);
	font-size: 22px;    
	text-decoration: none;
}

.best__link_active {
	color: var(--prime-blue);
}

.best__link_active::after {
	content: '';
	display: block;
	width: 100%;
	height: 3px;
	background-color: var(--prime-blue);
}

.best__link:hover {
	color: var(--prime-blue);
}

.best__cards {
	display: flex;
	flex-wrap: wrap;
	gap: 35px 1vw;
	justify-content: space-between;
}

.card {
	position: relative;
	display: flex;
	flex-direction: column;
	width: 300px;
	box-sizing: border-box;
	border-radius: 5px;
}

@media screen and (max-width: 1305px) {
	.card {
		flex: 1 1 250px;
	}
}

.card_hot::before {
	content: 'HOT';
	display: inline-block;
	position: absolute;
	z-index: 2;
	top: 0;
	left: 0;
	padding: 6px 14px;
	font-size: 18px;
	color: #fff;
	background-color: #FF4858;
}

.card__image {
	object-fit: cover;
	position: relative;
	z-index: 1;
	max-width: 100%;
	min-height: 275px;
}

.card__info {
	text-align: center;
	border: 3px solid var(--light-border);
	border-top: none;
	margin-top: -14px;
	padding-top: 14px;
	position: relative;
	z-index: 0;
}

.card__title {
	display: block;
	margin-top: 23px;
	margin-bottom: 7px;
	font-size: 18px;
	font-weight: 700;
	color: var(--prime-dark);
}

.card__rating {
	display: block;
	margin: 0;
	margin-bottom: 10px;
}

.card__price {
	display: inline-block;
	margin-bottom: 16px;
	margin-right: 13px;
	font-family: 'Poppins', sans-serif;
	font-weight: 700;
	font-size: 18px;
	color: var(--prime-blue);
}

.card__discount {
	margin: 0;
	margin-bottom: 16px;
	display: inline-block;
	font-family: 'Poppins', sans-serif;
	font-weight: 700;
	font-size: 14px;
	color: var(--prime-red);
}

.card__old-price {
	font-weight: 400;
	color: var(--prime-grey);
}

.card__ui {
	opacity: 0;
	display: flex;
	align-self: center;
	gap: 10px;
	width: 278px;
	min-height: 219px;
	justify-content: center;
	align-items: center;
	position: absolute;
	top: 1em;
	z-index: 2;
	background-color: rgba(255,255,255,0.95);
}

@media screen and (max-width: 1305px) {
	.card__ui {
		width: 90%;
	}
}

.card:hover > .card__ui {
	opacity: 1;
}

.card__link {
	display: inline-block;
}

.best__more {
	margin: 0 auto;
	font-size: 20px;
	font-weight: 500;
	margin-top: 24px;
	color: var(--prime-blue);
	text-decoration: none;
	text-transform: uppercase;
}

.best__more::after {
	content: '';
	display: block;
	width: 100%;
	height: 3px;
	background-color: var(--prime-blue);
}

/* Now banner */
.now-banner {
	display: flex;
	width: 100%;
	background-color: var(--prime-blue);
}

.now-banner_index {
	min-height: 600px;
	margin-bottom: 97px;
	background-image: linear-gradient(0deg, var(--prime-blue) 523px, white 523px);
}

@media screen and (max-width: 690px) {
	.now-banner_index {
		background-position: center top;
	}
}

.now-banner__content_index {
	background-image: url('../img/banner-shoe.webp');
	background-repeat: no-repeat;
	background-position: right top;
}

.now-banner_catalog {
	min-height: 322px;
	margin-bottom: 23px;
	background-image: url('../img/banner-shoe-small.png'), linear-gradient(0deg, var(--prime-blue) 290px, white 290px);
	background-repeat: no-repeat;
	background-position: right top;
}

.now-banner__content {
	display: flex;
	align-items: center;
	position: relative;
	z-index: 1;
	width: 100%;
	margin: 0 auto;
}

.now-banner__content_index {
	max-width: 1305px;
	padding-left: 25px;
}

.now-banner__content_catalog {
	max-width: 700px;
}

.now-banner__content_index::after {
	top: -77px;
}

.now-banner__content_catalog::after {
	transform: scale(0.5) translate(50%, -70px);
}

.now-banner__info_index {
	max-width: 600px;
}

.now-banner__info_catalog {
	max-width: 351px;
	padding: 0 2vw;
}

.now-banner__heading {
	font-family: 'Poppins', sans-serif;
	margin: 0;
	color: #fff;
}

.now-banner__heading_index {
	font-weight: 500;
	font-size: 55px;
	line-height: 1.51;
	margin-bottom: 23px;
}

.now-banner__heading_catalog {
	font-weight: 500;
	font-size: 30px;
	line-height: 1.5;
	margin-bottom: 23px;
}

.now-banner__text {
	font-family: 'Poppins', sans-serif;	
	margin: 0;
	color: #fff;
}

.now-banner__text_index {
	font-weight: 400;
	font-size: 24px;
	margin-bottom: 25px;
}

.now-banner__text_catalog {
	font-weight: 400;
	font-size: 14px;
	margin-bottom: 25px;
}

.now-banner__link {
	display: inline-block;
	text-decoration: none;
}

.now-banner__link {
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
}

.now-banner__link_index {
	font-size: 20px;
	font-weight: 600;
}

.now-banner__link_catalog {
	font-size: 12px;
	font-weight: 600;
}

.now-banner__link::after {
	content: '';
	display: block;
	width: 100%;
	height: 3px;
	background-color: #fff;
}

/* Services */
.services {
	color: var(--text-black-blue);
	max-width: 1255px;
	margin: 0 auto;
	margin-bottom: 121px;
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	align-items: flex-end;
	gap: 2em;
}

.services__card {
	max-width: 197px;
	text-align: center;
}

.services__card_shipping::before {
	content: url('../img/shipping.svg');
	display: block;
}

.services__card_refund::before {
	content: url('../img/refund.svg');
	display: block;
}

.services__card_support::before {
	content: url('../img/support.svg');
	display: block;
}

.services__title {
	margin: 40px 0 10px;
	font-family: 'Poppins', sans-serif;
	font-size: 27px;
	font-weight: 500;
}

.services__text {
	text-align: center;
	margin: 0;
	font-size: 16px;
}

/* News */
.news {
	color: var(--text-black-blue);
	max-width: 1255px;
	margin: 0 auto;
	margin-bottom: 110px;
}

.news__heading {
	text-align: center;
	font-family: 'Poppins', sans-serif;
	font-weight: 600;
	font-size: 34px;
	margin-bottom: 72px;
}

.news__cards {
	display: flex;
	gap: 2em;
	flex-wrap: wrap;
	justify-content: space-between;
}

@media screen and (max-width: 1250px) {
	.news__cards {
		justify-content: flex-start;
	}
}

.news__card {
	max-width: 370px;
	display: grid;
	grid-template-columns: repeat(2, auto);
	grid-template-rows: repeat(3, auto);
}

@media screen and (max-width: 1250px) {
	.news__card {
		grid-template-columns: repeat(2, 1fr);
	}
}

.news__logo {
	grid-column: 1 / 2;
	grid-row: 2 / -1;
	margin-right: 1vw;
	justify-self: center;
}

.news__date {
	color: var(--text-light-grey);
	font-size: 18px;
	font-weight: 500;
	margin: 0;
	margin-bottom: 2px;
	grid-column: 2 / 3;
}

.news__title {
	font-size: 22px;
	font-weight: 600;
	margin: 0;
	margin-bottom: 5px;
	grid-column: 2 / 3;
}

.news__text {
	font-size: 16px;
	margin: 0;
	grid-column: 2 / 3;
}

/* Features */
.features {
	max-width: 1255px;
	margin: 0 auto;
	margin-bottom: 126px;
}

.features__heading {
	text-align: center;
	font-family: 'Poppins', sans-serif;
	font-weight: 600;
	font-size: 35px;
	margin-bottom: 55px;
}

.features__cards {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

@media screen and (max-width: 1250px) {
	.features__cards {
		gap: 2em;
		justify-content: space-around;
	}
}

.feature__card {
	text-decoration: none;
	color: var(--text-black);
	display: grid;
	grid-template-columns: auto minmax(auto, 163px);
	grid-template-rows: repeat(3, min-content);
}

.feature__image {
	grid-column: 1 / 2;
	grid-row: 1 / -1;
	margin-right: 1vw;
}

.feature__title {
	font-size: 20px;
	font-weight: 400;
	line-height: 1.2;
	margin: 0;
	grid-column: 2 / 3;
}

.feature__rating {
	margin: 0;
	grid-column: 2 / 3;
}

.feature__price {
	color: #FF4858;
	font-family: 'Poppins', sans-serif;
	font-size: 20px;
	font-weight: 500;
	margin: 0;
	grid-column: 2 / 3;
}

.feature__old-price {
	font-weight: 400;
	color: var(--text-light-grey);
}

/* Index search */
.index__search {
	margin-bottom: 95px;
}

.index__search-form {
	max-width: 635px;
	margin: 0 auto;
	display: flex;
}

.index__search-input {
	font-size: 18px;
	box-sizing: border-box;
	width: 100%;
	max-width: 508px;
	height: 64px;
	padding: 0 21px;
	border: 2px solid var(--white-blue);
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	border-right: none;
}

.index__search-button {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 127px;
	height: 64px;
	color: #fff;
	font-weight: 600;
	font-family: 'Poppins', sans-serif;
	font-size: 20px;
	border: none;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	background-color: var(--prime-blue);
}

/* Catalog */
.catalog {
	background-color: #fff;
	font-family: 'Poppins', sans-serif;
	font-weight: 400;
}

.catalog__main {
	display: grid;
	grid-template-columns: 1fr auto auto 1fr;
	grid-template-rows: repeat(5, auto);
	margin-bottom: 155px;
}

/* Catalog filters */
.catalog__sidebar {
	width: 270px;
	margin-right: 31px;
	grid-column: 2 / 3;
	grid-row: 2 / -1;
}

@media screen and (max-width: 640px) {
	.catalog__sidebar {
		width: 100%;
		grid-column: 2 / 4;
		grid-row: auto;
	}
}

.filter__box {
	display: flex;
	flex-direction: column;
	border: none;
	padding: 19px 15px 26px 20px;
	margin-bottom: 30px;
	background-color: var(--light-border);
}

.filter__items {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.filter__title {
	float: left;
	font-size: 18px;
	font-weight: 500;
	margin-bottom: 25px;
}

.filter__pair {
	clear: both;
	display: flex;
	justify-content: space-between;
	font-size: 18px;
	color: #22262A; 
}

.filter__number {
	color: rgba(34, 38, 42, 0.35);
}

.filter__radio:checked + .filter__label {
	color: var(--light-blue);
}

.filter__radio:checked ~ .filter__number {
	color: var(--light-blue);
}

.price-range__ranges {
	margin-bottom: 16px;
}

.price-range__label {
	margin: 0;
	font-weight: 400;
}

.price-range__ranges {
	display: flex;
	margin-bottom: 23px;
}

.price-range__price::before {
	content: '$';
}

.price-range__price_min {
	margin-left: auto;
}

.price-range__price_min::after {
	display: inline-block;
	content: '-';
	margin: 0 0.5em;
}

.price-range__line {
	position: relative;
	width: 100%;
	height: 4px;
	background-color: rgba(34, 38, 42, 0.1);
}

.price-range__handle {
	position: absolute;
	top: 0;
	width: 12px;
	height: 12px;
	border: 3px solid #fff;
	border-radius: 50%;
	background-color: #2E90E5;
	transform: translateY(-7px);
}

.price-range__handle_min {
	z-index: 1;
	left: 10%;
}

.price-range__handle_max {
	z-index: 1;
	right: 0;
}

.price-range__fill {
	position: absolute;
	left: calc(10% + 7px);
	width: calc(90% - 7px);
	height: 100%;
	background-color: #2E90E5;
}

.filter__colors {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 21px;
	min-height: 26px;
}

.filter__color {
	width: 20px;
	height: 20px;
	border-radius: 50%;	
}

.filter__color-input:checked + .filter__color {
	outline: 2px solid rgba(0, 108, 255, 0.5);
	box-shadow: inset 0 0 0 4px #f6f7f8;
}

.filter__color_blue {
	background-color: #006CFF;
}

.filter__color_red {
	background-color: #FC3E39;
}

.filter__color_black {
	background-color: #171717;
}

.filter__color_yellow {
	background-color: #FFF600;
}

.filter__color_purple {
	background-color: #FF00B4;
}

.filter__color_grey {
	background-color: #EFDFDF;
}

.filter__more {
	font-size: 14px;
	font-weight: 500;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #fff;
	min-height: 56px;
	text-decoration: none;
	text-transform: uppercase;
	color: var(--text-black);
	background-color: var(--light-border);
}

/* Catalog Sorting */
.sort {
	box-sizing: border-box;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	min-height: 58px;
	padding-left: 22px;
	background-color: var(--light-border);
	margin-bottom: 26px;
}

@media screen and (max-width: 1270px) {
	.sort {
		padding: 1em 2vw;
	}
}

.sort__options {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	row-gap: 1em;
}

.sort__items {
	margin-right: 48px;
}

.sort__label {
	margin-right: 13px;
}

.sort__select {
	min-width: 128px;
	height: 38px;
	border: 2px solid #F1F3F4;
	border-radius: 5px;
	padding: 0 17px;
	margin-right: 57px;	
	background-color: transparent;
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
	background-image: url('../img/arrow-down.svg');
	background-repeat: no-repeat;
	background-position: calc(100% - 17px) 50%;
	cursor: pointer;
}

.sort__option {
	padding-inline: 17px;
}

.sort__view-button {
	width: 55px;
	height: 58px;
	border: none;
	background-color: transparent;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	cursor: pointer;
}

.sort__view-button_active {
	background-color: #F1F3F4;
}

.sort__view-button_grid {
	background-image: url('../img/sort-grid.svg');
}

.sort__view-button_list {
	background-image: url('../img/sort-list.svg');
}

/* Catalog content */
.breadcrumbs {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 51px;
	margin-bottom: 52px;
	background-color: var(--light-border);
}

.catalog__breadcrumbs {
	grid-column: 2 / -2;
	grid-row: 1 / 2;
}

@media screen and (max-width: 640px) {
	.catalog__breadcrumbs {
		grid-column: 2 / 4;
		grid-row: auto;
	}
}

.breadcrumbs__list {
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
	flex-wrap: wrap;
}

.breadcrumbs__item:not(:last-of-type)::after {
	content: '/';
	display: inline-block;
	padding: 0 9px;
}

.breadcrumbs__link {
	text-decoration: none;
	color: var(--light-blue);
}

.breadcrumbs__link_current {
	color: var(--text-black)
}

.catalog__cards {
	display: flex;
	flex-wrap: wrap;
	gap: 34px calc((100% - 300px * 3) / 2);
	grid-column: 3 / 4;
	grid-row: 4 / 5;
	max-width: 962px;
	margin-bottom: 34px;
}

@media screen and (max-width: 1270px) {
	.catalog__cards {
		justify-content: space-between;
		gap: 34px 2vw;
		padding-right: 1vw;
	}
}

.now-banner_catalog {
	grid-column: 3 / 4;
	grid-row: 2 / 3;
	max-width: 962px;
	margin-top: -30px;
}

@media screen and (max-width: 640px) {
	.now-banner_catalog {
		grid-column: 2 / 4;
		grid-row: auto;
		margin-top: initial;
	}
}

.catalog__sort {
	grid-column: 3 / 4;
	grid-row: 3 / 4;
	max-width: 962px;
}

@media screen and (max-width: 640px) {
	.catalog__sort {
		grid-column: 2 / 4;
		grid-row: auto;
	}
}

.catalog__paginator {
	grid-column: 3 / 4;
	grid-row: 5 / 6;
	max-width: 962px;
	background-color: var(--light-white);
}

@media screen and (max-width: 640px) {
	.catalog__paginator {
		grid-column: 2 / 4;
		grid-row: auto;
	}
}

.paginator__list {
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: center;
}

.paginator__link {
	text-decoration: none;
	color: var(--text-black-blue);
	background-color: var(--light-white);
	font-size: 18px;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 63px;
	height: 56px;
}

.paginator__link:hover {
	color: #fff;
	background-color: var(--prime-blue);
}

.paginator__link_active {
	color: #fff;
	background-color: var(--prime-blue);
}

/* Cart */
.cart-page {
	background-color: #fff;
	font-family: 'Poppins', sans-serif;
	font-weight: 400;
}

.cart-page_dim {
	overflow: hidden;
}

.cart-page_dim::before {
	content: '';
	position: fixed;
	z-index: 2;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(34, 34, 34, 0.3);
}

.cart__main {
	margin-bottom: 156px;
}

.cart__contents {
	max-width: 1255px;
	margin: 0 auto;
}

.cart__table {
	width: 100%;
	margin-bottom: 90px;
}

.cart__table th {
	text-align: left;
}

.cart__body tr {
	padding: 55px 0;
}

.qty__ui {
	position: relative;
	max-width: 125px;
	min-height: 46px;
}

.qty__number {
	box-sizing: border-box;
	text-align: center;
	padding: 0 18px;
	max-width: 125px;
	min-height: 46px;
}

.qty__button {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	border: none;
	background-color: transparent;
	color: var(--light-blue);
	font-size: 18px;
	font-weight: 700;
}

.qty__minus {
	left: 15px;
}

.qty__plus {
	right: 15px;
}

.cart__remove {
	width: 24px;
	height: 22px;
	padding: 0;
	border: none;
	border-radius: 50%;
	background-color: rgba(255, 104, 117, 0.05);
	background-image: url('../img/remove-cart.svg');
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: 9px 9px;
}

.cart__image {
	vertical-align: middle;
	width: 138px;
	height: 94px;
	margin-right: 30px;
}

.cart__total {
	display: flex;
	flex-direction: column;
}

.cart__footer {
	display: flex;
	justify-content: space-between;
}

.total__table {
	width: 100%;
	color: var(--text-black);
	font-size: 18px;
	border-bottom: 2px solid #F6F7F8;
}

.total__table td {
	vertical-align: top;
	padding-bottom: 23px;
}

.total__table td:nth-of-type(2n) {
	text-align: right;
}

.total__table > tfoot {
	color: var(--text-black-blue);
	font-size: 30px;
	font-weight: 500;
}

.cart__redeem-form {
	max-width: 369px;
	display: flex;
}

.cart__redeem-input {
	font-size: 16px;
	box-sizing: border-box;
	width: 100%;
	max-width: 251px;
	height: 60px;
	padding: 0 20px;
	border: 2px solid var(--white-blue);
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	border-right: none;
}

.cart__redeem-button {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 127px;
	height: 60px;
	color: #fff;
	font-family: 'Poppins', sans-serif;
	font-size: 18px;
	font-weight: 500;
	border: none;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	background-color: var(--prime-blue);
}

.cart__checkout-button {
	color: #fff;
	font-size: 18px;
	width: 310px;
	height: 60px;
	border: none;
	background-color: var(--light-blue);
}

/* Checkout Popup */
.checkout {
	box-sizing: border-box;
	position: fixed;
	top: 5vh;
	left: 50%;
	transform: translateX(-50%);
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	max-width: 1021px;
	max-height: 100vh;
	padding: 41px 98px 78px 88px;
	background-color: #fff;
	z-index: 3;
}

.checkout__buttons {
	width: 100%;
	display: flex;
	justify-content: space-between;
}

.checkout__back-button {
	width: 40px;
	height: 40px;
	border: none;
	background-color: #fff;
	background-image: url('../img/back-checkout.svg');
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: 22px 22px;
}

.checkout__back-button:hover {
	border: 2px solid var(--prime-blue);
}

.checkout__close-button {
	transform: translateY(100%);
	width: 25px;
	height: 25px;
	border: none;
	background-color: #fff;
	background-image: url('../img/close-checkout.svg');
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: contain;
}

.checkout__close-button:hover {
	border: 2px solid var(--prime-blue);
}

.checkout__heading {
	font-family: 'Raleway', sans-serif;
	color: var(--prime-blue);
	font-size: 32px;
	font-weight: 600px;
	margin: 0;
	margin-bottom: 43px;
}

.checkout__steps {
	display: flex;
	justify-content: center;
	column-gap: 25px;
	margin-bottom: 40px;	
}

.checkout__step {
	position: relative;
	color: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 36px;
	height: 36px;
	border-radius: 50%;
	background-color: #DFDEDE;
}

.checkout__step:not(:last-of-type)::after {
	content: '';
	position: absolute;
	right: 0;
	transform: translateX(100%);
	width: 25px;
	height: 2px;
	background-color: #DFDEDE;
}

.checkout__step_active {
	background-color: var(--prime-blue);
}

/* Checkout user */
.checkout__user {
	width: 100%;
}

.checkout__user-content {
	display: flex;
	justify-content: space-between;
	column-gap: 72px;
	margin-bottom: 27px;
}

.checkout__line {
	display: flex;
	flex-direction: column;
	row-gap: 32px;
}

.checkout__line > input {
	box-sizing: border-box;
	width: 100%;
	max-width: 380px;
	height: 50px;
	padding: 0 14px;
	border: none;
	border-radius: 10px;
	background-color: rgba(223, 222, 222, 0.3);
}

.checkout__line > textarea {
	resize: none;
	box-sizing: border-box;
	width: 100%;
	max-width: 380px;
	height: 122px;
	padding: 25px 14px;
	border: none;
	border-radius: 10px;
	background-color: rgba(223, 222, 222, 0.3);
}

.checkout__pay-methods {
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	width: 100%;
	max-width: 378px;
	padding: 0;
	border: none;
}

.pay-methods__title {
	float: left;
	color: var(--prime-blue);
	font-family: 'Raleway', sans-serif;
	font-size: 20px;
	font-weight: 600;
	margin-bottom: 14px;
}

.pay-methods__item {
	box-sizing: border-box;
	clear: both;
	width: 100%;;
	min-height: 56px;
	padding: 16px;
	padding-right: 13px;
}

.pay-methods__label::after {
	content: '';
	display: inline-flex;
	align-items: center;
	justify-content: center;
	margin-left: auto;
	width: 24px;
	height: 24px;
	border: 1px solid #DFDEDE;
	border-radius: 5px;
}

.pay-methods__input:checked + .pay-methods__label::after {
	content: url('../img/checked.svg');
}

.pay-methods__label {
	position: relative;
	display: flex;
	align-items: center;
}

.pay-methods__label::before {
	content: '';
	display: inline-block;
	margin-right: 16px;
}

.pay-methods__label_card::before {
	content: url('../img/card.svg');
}

.pay-methods__label_paypal::before {
	content: url('../img/paypal.svg');
}

.pay-methods__label_bank::before {
	content: url('../img/bank.svg');
}

/* Checkout card */
.checkout__card {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: flex-start;
}

.credit-card__content {
	display: flex;
	flex-wrap: wrap;
	max-width: 336px;
	justify-content: space-between;
	margin-bottom: 126px;
}

.credit-card__content > input {
	box-sizing: border-box;
	width: 100%;
	max-width: 380px;
	height: 50px;
	padding: 0 14px;
	margin-bottom: 30px;
	border: none;
	border-radius: 10px;
	background-color: rgba(223, 222, 222, 0.3);
}

.credit-card__content > input[name="expire"],
.credit-card__content > input[name="cvv"] {
	width: 161px;
}

.credit-card__save-label {
	display: flex;
	align-items: center;
}

.credit-card__save-label::before {
	content: '';
	display: inline-flex;
	align-items: center;
	justify-content: center;
	width: 24px;
	height: 24px;
	margin-right: 10px;
	border: 1px solid #DFDEDE;
	border-radius: 5px;
}

.credit-card__save-input:checked + .credit-card__save-label::before {
	content: url('../img/checked.svg');
	filter: grayscale(100);
}

.checkout__finish {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.checkout__finish-checked {
	display: block;
	width: 130px;
	height: 130px;
	margin-top: 9px;
	margin-bottom: 30px;
	background-image: url('../img/big-checked.svg');
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-color: #40BFFF;
	border-radius: 50%;
}

.checkout__finish-text {
	color: var(--prime-dark);
	font-size: 24px;
	font-weight: 600;
	margin-bottom: 87px;
}

.checkout__submit {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 338px;
	min-height: 70px;
	margin: 0 auto;
	border: none;
	border-radius: 10px;
	color: #fff;
	font-size: 24px;
	font-weight: 700;
	background-color: var(--light-blue);
	cursor: pointer;
}

/* Footer */
.footer {
	background-color: var(--white-blue);
	padding: 165px 30px 54px;
}

.footer__content {
	max-width: 1255px;
	margin: 0 auto;
}

.footer__company {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-bottom: 60px;
}

.about-company {
	max-width: 221px;
}

.about-company__text {
	font-size: 12px;
}

.follow-us {
	max-width: 198px;
	line-height: 1.4;
}

.follow-us__text {
	font-size: 12px;
}

.follow-us__link {
	display: inline-block;
	margin-right: 40px;
}

.contact-us {
	max-width: 148px;
	line-height: 1.4;
}

.footer__list {
	list-style: none;
	margin: 0;
	padding: 0;
	line-height: 1.4;
}

.footer__links {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-bottom: 68px;
}

.footer__title {
	margin: 0;
	margin-bottom: 20px;
	font-family: 'Poppins', sans-serif;
	font-size: 18px;
	color: var(--text-black-blue);
}

.footer__link {
	font-family: 'Poppins', sans-serif;
	font-size: 14px;
	color: var(--text-black-blue);
	text-decoration: none;
}

.footer__link:hover {
	text-decoration: underline;
}

.footer__line {
	border: none;
	width: 90%;
	height: 2px;
	margin-bottom: 30px;
	background-color: var(--light-border);
}

.footer__info {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.footer__banks {
	display: flex;
	gap: 20px;
}

/* JS */
.visually-hidden {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}